<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end"> 
      <ion-button (click)="signOut()">
        <ion-icon name="log-out"></ion-icon>

      </ion-button>
    
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
     
    </ion-buttons>
    <ion-title> Ciudadano </ion-title>
  </ion-toolbar>
</ion-header>
<ion-header translucent>
  <ion-toolbar>
    <ion-title>Recicla, Recoge, Reutiliza</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen class="ion-padding" >
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
  <ion-slides>

    <ion-slide>
      <div class="slide">
        <img src="./assets/slide-1.jpg"/>
        <h2>Bienvenido</h2>
        <p>La <b>vida</b> es una, vive y cuida el ambiente.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="./assets/slide-2.jpg"/>
      <h2>Que es DCRecicla?</h2>
      <p><b>DC Recicla</b> es la alternativa perfecta para ayudar a todos los usuarios sistema de Aseo.</p>
    </ion-slide>

    <ion-slide>
      <img src="./assets/slide-3.jpg"/>
      <h2>Necesita reportar algun problema?</h2>
      <p><b>DC Recicla</b> lo ayuda a ponerse en contacto con la empresa, para cualquier tipo de denuncia ciudadanas.</p>
    </ion-slide>

    <ion-slide>
      <img src="./assets/slide-4.jpg"/>
      <h2>Listo para Salvar el mundo?</h2>
      <ion-button fill="clear">Ir <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>


  <ion-card>
    <img src="./assets/medioamb.jpg" />
    <ion-card-header>
      <ion-text color="secondary">
        <h2>El Mejor Paisaje Debe Ser Verde</h2>
      </ion-text>
      
      <ion-card-title>El deber es de todos!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="secondary">
        <h3>"Si supiera que el mundo se acaba mañana, yo, hoy todavía, plantaría un árbol"</h3>
      </ion-text>
     
    </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-header>
            <ion-text color="success">
              <h4>Seleccione Genero de su Avatar</h4>
            </ion-text>
      </ion-card-header>
      
      <ion-card-content>
          <!-- Segment with secondary color -->
        <ion-segment (ionChange)="segmentChanged($event)" color="success" value="f">
        <ion-segment-button value="f" layout="icon-bottom">
          <ion-icon name="woman-outline"></ion-icon>
          <ion-label>F</ion-label>
        </ion-segment-button>
        <ion-segment-button value="m" layout="icon-bottom">
          <ion-icon name="man-outline"></ion-icon>
          <ion-label>M</ion-label>
        </ion-segment-button>
        </ion-segment>
      </ion-card-content>
  </ion-card>

</ion-content>


  
  
  

  