<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button text="" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title>servicios</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card>
    <img src="./assets/ele.jpeg" />
  </ion-card>
  <ion-card>
    <img src="./assets/func.jpeg" />
  </ion-card>
  <ion-card>
    <img src="./assets/alumen.jpeg" />
  </ion-card>
  <ion-card>
    <img src="./assets/pura.jpeg" />
  </ion-card>
  <ion-card>
    <img src="./assets/grum.jpeg" />
  </ion-card>
  <ion-card>
    <img src="./assets/distri.jpeg" />
  </ion-card>

</ion-content>
